@model OdeToFood.ViewModels.HomeIndexViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>@Model.CurrentMessage</h1>
    <table>
        @foreach (var restaurant in Model.Restaurants)
        {
        <tr>
            <td>@restaurant.Id</td>
            <td>@restaurant.Name</td>
        </tr>
        }
    </table>
    <table>
        @foreach (var waiter in Model.Waiters)
        {
        <tr>
            <td>@waiter.Id</td>
            <td>@waiter.waitersName</td>
        </tr>
        }
    </table>
</body>
</html>
